.grid-container{
  min-width: 400px;
  min-height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(3, 33.33%);
  width: 35vw;
  height: 35vw;
  gap: 10px
}

.grid-item{
  background-color: #bb9;
  font-size: 7em;
  text-align: center;
  vertical-align: middle;
  color:#444;
}